/* fonts start */

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Inter.zip') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Inter.zip') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fonts end */
/* * */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage{
    background: url('../img/fayz-talim.webp')no-repeat center/cover;
}
/* * */
/* nav start */

.f_icon{
    width: 50px;
    height: auto;
}
.nav_link{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
}
.nav_link:hover{
    color: orange;
    transition: 250ms;
}
.nav_item{
    list-style: none;
}
.nav_items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    position: sticky;
    top: 0;
    /* backdrop-filter: blur(40px); */
    background: #370BFF;
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border: 2px solid rgba(255,255,255,0.18);
    z-index: 100;
}
/* nav end */
/* header start */
.header{
    height: calc(100vh - 50px);
}
.header_h1{
    color: #fff;
    font-size: 64px;
}
.text{
    color: #fff;
    width: 30%;
    font-family: 'Inter';
    font-weight: 400;
}
.learn_btn{
    text-decoration: none;
    color: #fff;
    background: #370BFF;
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 6px;
    font-family: 'Inter';
    font-weight: 400;
}
.learn_btn:hover{
    color: orange;
    box-shadow: 3px 3px 6px rgba(3, 14, 108, 0.45);
    transition: 200ms;
}
/* header end */
/* main start */
.box_img{
    width: 100px;
    height: auto;
}
.box_link{
    text-decoration: none;
}
.big_box{
    border-radius: 20px;
    height: auto;
    background: #F7F7F7;
}
.main{
    margin-top: -120px;
}
/* main end */
/* about start */
.about_h3{
    font-size: 48px;
    font-family: 'Inter';
    font-weight: 700;
}
.text_about{
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
}
.about_vd{
    border-radius: 20px;
}
/* about end */
/* advantage start */
.advantage_h3{
    font-size: 40px;
}

.carousel_img{
    height: 140px;
}
.carousell {
    position: relative;
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  }

  .carousel_track ,  .carousel_track_t {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }

  .carousel_item {
    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .radius{
    border-radius: 20px !important;
  }

  .carousel_item img {
    width: 100%;
    display: block;
    border-radius: 5px;
  }

  .carousel_buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  .carousel_buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
  }

  .carousel_buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  @media (max-width: 600px) {
    .carousel_item {
      flex: 0 0 100%;
    }

    .carousel_buttons button {
      padding: 5px 10px;
    }
  }
/* advantage end */

/* courses start */
.check_box{
    width: 20px;
    height: auto;
}

.bg_linear{
    background: linear-gradient(323.15deg, #1400FF -15.81%, #1E0BFF 2.04%, #6A5EFF 71.42%);
    border-radius: 20px;
    width: 300px;
    height: auto;
}
.courses_ul{
    list-style: none;
}

.courses_item{
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Inter';
    font-weight: 400;
}
.courses_btn{
    padding: 10px 30px;
    background: #fff;
    color: #000000;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
}
.courses_h5{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: 700;
}
.courses_h3{
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: 700;
}
/* courses end */

/* teachers start */
.carousell_t{
    max-width: 1000px;
}
/* teachers end */

/* footer start */
.footer_icon{
    width: 150px;
    height: auto;
}
.line{
    width: 100px;
    height: 3px;
    background: #086CF9;
    margin-bottom: 15px;
}
.footer_link{
    text-decoration: none;
    color: #808080;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
}
.footer_h4{
    font-size: 18px;
    color: #060606;
    font-weight: bold;
    font-family: 'Inter';
    font-weight: 400;
}
.apps_icon{
    width: 30px;
    height: auto;
}
/* footer end */


/* responsives */
@media screen and (max-width:900px) {
    .header_h1{
        font-size: 40px;
    }
    .text{
        width: 90% !important;
    }
}

@media screen and (max-width:900px) {
    .main{
        margin-top: 20px;
    }
}
/* responsives */

/* navbar sm  */
.exit{
    font-size: 35px;
    color: #000;
}
.container_90{
    width: 90%;
    margin: auto;
}
.nav_sm_link{
    color: #000;
}
.nav_sm_item{
    border-bottom: 2px solid  #086CF9;
}
.menu{
    display: none;
    color: #ffffff;
    font-size: 30px;
}
.nav-modal{
    backdrop-filter: blur(60px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border: 2px solid rgba(255,255,255,0.18);
    left: 50%;
    z-index: 300;
    top: 0px;
    display: none;
    position: fixed;
    width: 50vw;
    height: 100vh;
}
.fad{
    animation: fad 1s;
}
@keyframes fad {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}
@media screen and (max-width:700px) {
    .btn-none{
      display: none;
    }
    .ul-none{
      display: none !important;
    }
    .menu{
      display: block;
    }
}
/* navbar sm */